# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Erik\Documents\UPCHIAPAS\Septimo_cuatri\Programación_concurrente\Corte2\A5_Proyecto de Estacionamiento\Estacionamiento\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
